# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
venv/
.venv/

# Django
*.sqlite3
staticfiles/
media/

# Env files
.env
.env.*

# Git / IDE
.git/
.gitignore
.vscode/
.idea/

# Build / cache
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
